.about-img {
    width: 30%;
    float: right;
    margin: 10px;
}

.GCB-img {
    margin-top: 2rem;
    margin-bottom: 1.5rem;
    filter: drop-shadow(3rem 3rem 3rem rgba(0, 0, 0, 0.2));
    border-radius: 1.2rem;
}

// figure{
//     margin-bottom: 5rem;
// }

figcaption {
    color: #757575;
    font-size: 1.0rem;
    // line-height: 1.5;
    margin-top: 2rem;
    margin-bottom: 2rem;
    text-align: center;
}